<div class="myGrey background-image2">
  <app-one-page [vsize]="'100'">

    <div class="container row equal">
      <div class="col s12">
        <div class="card-panel icon-block z-depth-5" style="height: 100%;  align-items: stretch;">
          <h2 class="">Nuestra filosofía</h2>

          <h4 class="light flow-text">Somos un equipo de desarrolladores y diseñadores de software que
            aportamos el máximo en cada proyecto. Somos apasionados de la gestión
            eficiente de procesos y del diseño de productos.
            Cuidamos cada detalle para alcanzar la máxima coherencia entre la usabili-
            dad y la estética. Combinamos la sencillez y la innovación para crear produc-
            tos funcionales que aporten el máximo valor para nuestros clientes.
            Como empresa buscamos potenciar y diferenciar tu imagen comercial en
            Internet frente a la competencia.</h4>
          <br>
          <h2 class="">Nuestra función</h2>

          <h4 class="light flow-text">Buscamos crear productos genéricos para diferentes sectores de negocio
            con un alto grado de personalización.
            Gracias al factor genérico de nuestros productos posibilitamos el acceso de
            las pequeñas y medianas empresas a productos de alta calidad que aumen-
            ten la eficiencia de sus procesos y la capacidad de transmitir experiencias o
            sentimientos a sus consumidores.</h4>
        </div>


      </div>
    </div>

  </app-one-page>
</div>
