.background-image2 {
  background-image: url("../../../../assets/pexels-photo-169628-min.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
