<div class="myWhite background-image">
  <app-one-page>
    <div>
      <h1 class="white-text center ">Crea una plataforma comercial para tu restaurante</h1>

      <img class="center center-img" src="../../../assets/mac_ipad_iphone.png"/>

    </div>
  </app-one-page>
</div>
<div class="myGrey">
  <app-one-page [vsize]="'60'">
    <div class="container row">
      <img class="center"  style="margin: auto; display: block; width: 125px;" src="assets/mabu.svg"/>
      <h3 class="col s12 m12 l12 center">Mabu Restaurant</h3>
        <h4 class="col s12 m12 l12 center">Es una herramienta completa que gestiona la imagen comercial de
        tu restaurante en internet</h4>

      <h4 class="col s12 m12 l12 center">En contraposición con las soluciones actuales se centra en potenciar y
        diferenciar tu marca frente a la competencia</h4>
    </div>
  </app-one-page>
</div>
<div class="myWhite background-image2">
  <app-one-page>

    <div class="row equal">
      <div class="col s12 l4">
        <div class="card-panel icon-block z-depth-5" style="height: 100%;  align-items: stretch;">
          <h2 class="center brown-text"><i class="material-icons medium">play_for_work</i></h2>
          <h5 class="center">Recibe tus pedidos online</h5>

          <p class="light center flow-text">Agrega tus platos y bebidas, elige cómo quieres que tus comensales paguen y
            determina las áreas de entrega</p>
        </div>
      </div>

      <div class="col s12 l4">
        <div class="card-panel icon-block z-depth-5" style="height: 100%;  align-items: stretch;">
          <h2 class="center brown-text"><i class="material-icons medium ">group</i></h2>
          <h5 class="center">Gestiona múltiples locales</h5>

          <p class="light center flow-text">Nuestra plataforma esta diseñada para la eficiente gestión de
            franquicias.</p>
        </div>
      </div>

      <div class="col s12 l4">
        <div class="card-panel icon-block z-depth-5" style="height: 100%;  align-items: stretch;">
          <h2 class="center brown-text"><i class="material-icons medium ">schedule</i></h2>
          <h5 class="center">Fácil sistema de reservas</h5>

          <p class="light center flow-text">Permite que tus comensales reserven mesa desde tu web o app.</p>
        </div>
      </div>
    </div>
  </app-one-page>
</div>
<div class="myGrey">
  <app-one-page [vsize]="'50'">
    <div class="row">
      <h3 class="col s12 m12 l12 center">Una plantilla a tu gusto</h3>

      <h5 class="col s12 m12 l12 center">Elige la plantilla que mejor represente tu negocio: una pizzeria, un restaurante 5 estrellas, una
        hamburguesería,
        food-truck...</h5>
    </div>
  </app-one-page>
</div>
<!--
<div class="myGrey">
  <app-one-page>

    <div class="row">
      <div class="col s12 m12 l6">
        <img class="responsive-img" src="assets/Samsung-S5.png"/>
      </div>
      <div class="col s12 m12 l6 ">
        <div class="card-panel icon-block z-depth-5 text-lower">
          <h3>Una plantilla a tu gusto</h3>

          <h5>Elige la plantilla que mejor represente tu negocio: una pizzeria, un restaurante 5 estrellas, una
            hamburguesería,
            food-truck...</h5>
        </div>
      </div>
    </div>


  </app-one-page>
</div>-->
<div class="myWhite background-image3">
  <app-one-page>

    <div class="row">
      <div class="col s12 m12 l6">
        <img class="responsive-img" src="../../../assets/dashboard.png"/>
      </div>
      <div class="col s12 m12 l6">
        <div class="card-panel icon-block z-depth-5 text-lower" style="padding-right: 5%;">

          <h3>Toma el control de tu negocio</h3>
          <br>
          <h5>· Personaliza completamente tu web.</h5>
          <h5>· Controla tus pedidos y reservas.</h5>
          <h5>· Rastrea la tendencia de tus ventas y el crecimiento de tu negocio.</h5>
          <h5>· Gestiona tu carta.</h5>
          <h5>· Crea promociones y encuestas.</h5>
        </div>
      </div>
    </div>

  </app-one-page>
</div>


